body {
    background-color: rgb(255, 255, 255);
}

button {
    border: none;
}
/*общее оформление рабочего поля*/
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
     /*border-radius: 8px;*/
    padding: 40px;
    background-color: rgb(0, 0, 0);
    min-height: 300px;
    border: 10px solid rgb(255, 102, 0);
    /*outline: 3px solid rgb(105, 199, 228);*/
}
/*форма*/
.container__form {
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 3px 15px rgb(107, 141, 173);*/
    overflow: hidden;
    /*border-radius: 5px;*/
}

.container__repo {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
/*поле ввода*/
.form {
    width: 100%;
}
/*текст ввода*/
.search-field {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    /*border-radius: 5px 5px 0 0;*/
    color: rgb(0, 0, 0);
}

.search-field:focus {
   outline: none;
}

.search-field::placeholder{
    font-size: 16px;
    color: rgb(255, 102, 0);
}
/*Список репозиториев*/
.autoComplete {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 102, 0);
    box-sizing: border-box;
}

.autoComplete-item {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    border-bottom: solid 1px rgb(0, 0, 0);
    box-sizing: border-box;
    cursor: pointer;
    min-height: 30px;
    overflow-x: hidden;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
}
.autoComplete-item:first-child {
  border-top: solid 1px rgb(0, 0, 0);
}


.autoComplete-item:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

/*.autoComplete-item:active {
    background-color: rgb(78, 155, 179);
    transition: 0.3s;
}*/
/*message о ошибке*/
.message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 102, 0); 
    /*box-shadow: 0 3px 15px rgb(107, 141, 173);*/
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    min-height: 50px;
    /*border-radius: 4px;*/
    margin-top: 5px;
    padding: 15px;
}

.hidden {
    display: none
}
/*информация о репозитории*/
.selectedRepo {
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 255, 255); 
    border: 5px solid rgb(255, 102, 0);
    /*border-radius: 5px;*/
    margin-top: 7px;
    padding: 15px;
    min-height: 40px;
    overflow: hidden;
}

.selectedRepo-info {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    max-width: 220px;
}
/*супер-кнопка*/
.selectedRepo-button {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 102, 0);
    cursor: pointer;
} 

.selectedRepo-button::before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 20px;
    transform: rotate(45deg);
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

.selectedRepo-button::after {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 20px;
    transform: rotate(-45deg);
    background-color: rgb(0, 0, 0);
    z-index: 2;
}
/*супер-кнопка:hover*/
.selectedRepo-button:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

.selectedRepo-button:hover::before {
  background-color: rgb(255, 102, 0);
  transition: 0.3s;
}

.selectedRepo-button:hover::after  {
  background-color: rgb(255, 102, 0);
  transition: 0.3s;
}
